<template>
  <div class="row">
    <div class="col-12">
      <base-card>
        <div class="card-body">
          <header>
            <h3>{{ title }}</h3>
          </header>
          <p>{{ description }}</p>
          <nav>
            <a :href="description">View Resource</a>
          </nav>
          <hr />
          <base-button mode="btn-danger">Delete</base-button>
        </div>
      </base-card>
    </div>
  </div>
  
</template>

<script>

export default {
  props: ['title', 'description', 'link', 'id'],
};
</script>
