<template>
    <div class="container">
      <learning-resource v-for="res in resources" :key="res.id" 
      :title="res.title"
      :description="res.description"
      :link="res.link"
      ></learning-resource>
    </div>
  </template>
  
  <script>
  import LearningResource from './LearningResource.vue';
  
  export default {
    components: {
      LearningResource
    },
    props : ['resources'],
  };
  </script>
  
  <style scoped>

  </style>
  