<template>
  <div class="row col-12 mb-4 ">
    <div class="card text-center heder-background text-white">
      <div class="card-body">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title'],
};
</script>

<style>
.heder-background {
  background-color: brown;
}
</style>
