<template>
  <the-header title="RememberMe"></the-header>
  <div class="container">
    <stored-resource :resources="storedResources"></stored-resource>
  </div>
</template>

<script>
import StoredResource from './components/learning-resources/StoredResource.vue';
import TheHeader from './components/layouts/TheHeader.vue';

export default {
  components: {
    StoredResource,
    TheHeader
  },
  data() {
    return {
      storedResources: [
        {
          id: '123',
          title: 'title1',
          description: 'title1',
          link: 'title1',
        },
        {
          id: '1235',
          title: 'title2',
          description: 'title2',
          link: 'title2',
        },
      ],
    };
  },
};
</script>

<style></style>
