<template>
  <div class="card shadow p-3 mb-5 bg-body custom-card">
    <slot></slot>
  </div>
</template>

<style scoped>
.custom-card {
      border-radius: 40px; /* Set the border-radius value as needed */
    }
</style>
